.footer-Container {
    background-color: white;
    padding: 10px;
    margin: 20px auto;
    .footer-Titulo {
        color: rgb(0, 0, 26);
        text-align: center;
        border: 2px solid rgb(0, 0, 26);
        width: 60%;
        margin: 0 auto;
        padding: 10px;
        border-radius: 10px;
    }
}