@import '../../styles/index.scss';

.proyectos-Container {
    min-height: 500px;
    margin: 30px auto;
    @include media(desktop) {
        min-height: unset;
        width: 60%;
    }
    .proyectos-Info-Container {
        text-align: center;
        margin: 20px;
        border: 2px solid $color-bg-2;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: $color-bg-1;;
            display: flex;
            align-items: center;
            justify-content: center;  
            
            &:hover {
                opacity: 0.7;
            }
            .overlay-text {
                color: $color-bg-2;
                font-size: 20px;
                position: absolute;
                top: 50px;
                @include media(tablet) {
                    padding: unset;
                }
                @include media(desktop) {
                    padding: unset;
                }
            }
        }
    }
        
        img {
            width: 300px;
            height: 130px;
            object-fit: cover;
            @include media(tablet) {
                height: 300px;
                width: 100%;
            }
            @include media(desktop) {
                height: 400px;
                width: 100%;   
            }
        }

        .proyectos-imagen-hover {  
            &:before, &:after {
                content: '';
                position: absolute;
            }

            .txt {
                color: $color-bg-2;
                position: absolute;
            }   
        }   

    .proyectos-Proximamente {
        text-align: center;
        margin: 20px;
        border: 2px solid $color-bg-2;
        padding: 10px;
        border-radius: 10px;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            color: $color-bg-2;
        
        }
    }

    .proyectos-titulo {
        color: $color-bg-2;
        text-align: center;
        border-bottom: 3px solid $color-bg-2;
        width: 35%;
        margin: 10px auto;
        @include media(tablet) {
            width: 160px;
        }
        @include media(desktop) {
            width: 15%;     
        }
    }
}