@import './breakpoint';
@import './colors';

* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    transition: all 0.3s;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    font-family: 'Inconsolata', monospace;;
    background-color: $color-bg-1;
  }