@import '../../styles/index.scss';

.navBar-container {
    display: flex;
    padding: 20px;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include media(desktop) {
        flex-direction: column;
        padding: 10px;
    }
    .bar {
        position: relative;
        width: 50px;
        height: 40px;
        @include media(desktop) {
         display: none;   
        }
        input[type="checkbox"]{
            display: none;
            visibility: hidden;
        }

        span {
            position: absolute;
            width: 45px;
            height: 7px;
            background: #f1faee;
            border-radius: 100px;
            display: inline-block;
            transition: 0.3s ease;
            left: 0;
    
            &.top{
                top: 0;
            }
            
    
            &.middle{
                top: 17px;
            }
            
    
            &.bottom{
                bottom: 0;
            }
        }
      
        input[type]:checked ~ span {
            &.top{
                transform: rotate(45deg);
                transform-origin: top left;
                width: 48px;
                left: 5px;
            }
            &.bottom {
                transform: rotate(-45deg);
                transform-origin: top left;
                width: 48px;
                bottom: -1px;
                box-shadow: 0 0 10px #495057;
            }
            &.middle {
                transform: translateX(-20px);
                opacity: 0;
            }  
        }
    }

    .tittle {
        color: $color-bg-2;
        border-bottom: 3px solid $color-bg-2;
        margin: 0 auto;

    }

    .li-contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px auto;
        position: absolute;
        left: -1000px;
        top: 50px;
        width: 100%;
        text-align: center;
        background-color: rgb(0, 0, 26);
        padding: 10px;
        z-index: 1;
        @include media(desktop) {
            position: relative;
            top: unset;
            left: unset;
            flex-direction: row;
            margin: unset;
            justify-content: center;
            margin: 0 auto;
        }

        &.active {
            left: 0px;
        }

        .li-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px 0;
            
            .navBar-contenido {
                color: $color-bg-2;
                margin: 10px auto;
                border: 3px solid $color-bg-2;
                padding: 10px;
                width: 50%;
                border-radius: 7px;
                text-decoration: none;
            
                @include media(tablet) {
                    width: 150px;
                }

                @include media(desktop) {
                    margin: 10px;
                    width: 200px;
                    cursor: pointer;
                    &:hover {
                        background-color: $color-bg-2;
                        color: $color-bg-1;
                    }
                }
            }  
        }
        
    }  
}